//  scss variables
$primary: #005f73;

// custom css
.cursor-hand {
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

.img-card {
  height: 300px;
  padding: 10px;
  width: auto;
  object-fit: cover;
}

.img-avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.login-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.text-card {
  font-size: medium;
  justify-content: center;
}

div [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}
.card-transition {
  transition: 0.5s;
  cursor: pointer;
}
.card-transition:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-text {
  height: 80px;
}

.card-transition::before,
.card-transition::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  content: '';
  pointer-events: none;
}
.card-transition::before {
  transform-origin: left top;
}
.card-transition::after {
  transform-origin: right bottom;
}
.card-transition:hover::before,
.card-transition:hover::after,
.card-transition:focus::before,
.card-transition:focus::after {
  transform: scale3d(1, 1, 1);
}

.login {
  object-fit: cover;
}

.logo {
  text-align: center;
  color: white;
}

// https://mdbootstrap.com/docs/standard/extended/profiles/
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fff;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #fff, #fff);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #fff, #fff);
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
